$primary-color: #ffd700;
$font-family-primary: 'Coolvetica';
$font-family-secondary: 'La Belle Aurore', cursive;

.stage-cube-cont {
  width: 50%;
  height: 100%;
  top: 0;
  padding-top: 18%;
  margin-left: 0;
  position: absolute;
  right: 0;
  overflow: hidden;
}

.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(50% - 100px);

  div {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0px lightyellow;
  }

  .face1 {
    transform: translateZ(100px);
    color: #dd0031;
  }
  .face2 {
    transform: rotateY(90deg) translateZ(100px);
    color: #f06529;
  }
  .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
    color: #28a4d9;
  }
  .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
    color: #5ed4f4;
  }
  .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
    color: #efd81d;
  }
  .face6 {
    transform: rotateX(-90deg) translateZ(100px);
    color: #ec4d28;
  }
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateX(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}

#tech-carousel {
  text-align: center;
  padding: 50px 20px;
  color: white;
  margin-top: -40px;
  margin-left: -17px;
}

.carousel {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 20px;
  box-shadow: 0 0 70px 10px #141414;
}

.tech-item {
  flex: 0 0 auto;
  width: 150px;
  background: #1c1c1c;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.tech-item img {
  max-width: 100px;
  margin: 0 auto;
  display: block;
}

.tech-item p {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  line-height: 1.4;
}

.carousel::-webkit-scrollbar {
  height: 8px;
}

.carousel::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 4px;
}

@media screen and (max-width: 1200px) {
  .h2-style {
    font-size: 28px;
    left: 90px;
  }
}

@media screen and (max-width: 992px) {
  .h2-style {
    font-size: 28px;
    left: -90px;
  }
}

@media screen and (max-width: 768px) {
  .h2-style {
    left: -140px;
  }
}

@media screen and (max-width: 576px) {
  .h2-style {
    left: -100px;
  }
}

@media screen and (max-width: 400px) {
}
