.home-page {
  .social-icons {
    display: flex;
    margin: 30px 0 0 -10px;

    .social-icon {
      margin: 0 10px;
      color: #ffd700;
      transition: color 0.3s ease;
      font-size: 3rem;

      &:hover {
        color: #333;
      }
    }
  }

  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }

  h1 {
    color: #ffd700;
    font-size: 56px;
    line-height: 53px;
    margin: 0;
    font-family: 'Coolvetica', sans-serif;
    font-weight: 400;

    &:before,
    &:after {
      font-family: 'La Belle Aurore', cursive;
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      opacity: 0.6;
    }

    &:before {
      content: '<h1>';
      margin-top: -40px;
      left: -15px;
    }

    &:after {
      content: '<h1/>';
      margin-top: 18px;
      margin-left: 20px;
      animation: fadeIn 1s 1.7s backwards;
    }

    img {
      margin-left: 20px;
      opacity: 0;
      width: 32px;
      height: auto;
      animation: rotateIn 1s linear 1.4s both;
    }
  }

  h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cv-btn {
    height: 40px;
    margin-top: 43px;

    .btn {
      background-color: #ffd700;
      height: 100%;
      color: white;
      margin-right: 20px;
      font-size: 11px;
      width: 120px;
      font-family: Coolvetica, sans-serif;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: #333;
      }
    }

    a {
      text-decoration: none;
    }
  }

  .fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1200px) {
  .social-icons {
    justify-content: center;
  }

  .tags,
  h1:before,
  h1:after {
    display: none;
  }

  .text-zone {
    position: initial;
    width: 100%;
    transform: none;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }

  .flat-button {
    float: none;
    display: block;
    margin: 20px auto 0;
    width: 124px;
  }

  .logo-container {
    position: relative;
    width: 100px;
    height: auto;
    margin: 50px auto 0;

    svg {
      position: absolute;
      margin: auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .text-zone {
    margin-top: 25vh;
    text-align: center;
  }

  h1 {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 14px;
    letter-spacing: 2px;
    margin: 15px 0;
  }

  .flat-button {
    font-size: 11px;
    padding: 6px 14px;
    margin-top: 40px;
    width: 120px;
  }
}

@media screen and (max-width: 480px) {
  .text-zone {
    margin-top: 30vh;
    text-align: center;
  }

  h1 {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 12px;
    letter-spacing: 1px;
    margin: 15px 0;
  }

  .flat-button {
    margin-top: 40px;
    font-size: 11px;
    padding: 6px 14px;
    width: 120px;
  }
}